<template>

  <require from="../resources/elements/parking-event"></require>
  <require from="../resources/elements/parking-event-exit"></require>
  <require from="../resources/elements/parking-list"></require>



  <div class="ui stackable two column grid">
    <div class="column">
      <parking-event parkings.bind="parkings"></parking-event>
    </div>
    <div class="column">
      <parking-event-exit parkings.bind="parkings"></parking-event-exit>
    </div>

  </div>

  <div class="ui stackable one column grid">


    <div class="column">
      <parking-list parkings.bind="parkings"></parking-list>
    </div>
  </div>



</template>
