<template>

  <require from="../resources/elements/parking-spaces"></require>

  <div class="column">

    <parking-spaces ></parking-spaces>



    <table class="ui celled table segment">
      <thead>
      <tr>
        <th>Car Registration</th>
        <th>Status</th>
        <th>Car Enter Date/Time</th>
        <th>Car Exit Date/Time</th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="parking of currentParkings">
        <td>
          ${parking.carReg}
        <td>
          ${parking.status}
        </td>
        <td>
          ${parking.carEnterDate}
        </td>
        <td>
          ${parking.carExitDate}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
