<template>
  <div class="column">
    <h4 class="ui dividing header"> Number of Car are is ${numberOfCars} </h4>
    <h4 class="ui dividing header"> Number of Free Spaces is ${numberOfFreeSpaces} </h4>

    <div class="value">
      ${numberOfCars}
    </div>
    <table class="ui celled table segment">
      <thead>
      <tr>
        <th>Car Registration</th>
        <th>Status</th>
        <th>Car Enter Date/Time</th>
        <th>Car Exit Date/Time</th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="parking of currentParkings">
        <td>
          ${parking.carReg}
        <td>
          ${parking.status}
        </td>
        <td>
          ${parking.carEnterDate}
        </td>
        <td>
          ${parking.carExitDate}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
